.idea
.pytest_cache
__pycache__
notebooks/.local
notebooks/.ipython
notebooks/work/.ipynb_checkpoints
notebooks/.jupyter
notebooks/.cache
.viminfo
notebooks/.aws
dev-notebook.py.ipynb
notebooks/work/examples/.ipynb_checkpoints
