.idea
.pytest_cache
__pycache__
.local
.ipython
.ipynb_checkpoints
.jupyter
.cache
.viminfo
.aws
dev-notebook.py.ipynb
notebooks/work/examples/.ipynb_checkpoints
.bash_history
first-plot.ipynb
notebooks/seaborn-data
*.ipynb
gs-notebook-vulns
