git+https://github.com/owasp-sbot/OSBot-Utils.git
git+https://github.com/owasp-sbot/OSBot-AWS.git
git+https://github.com/owasp-sbot/OSBot-Jira.git
git+https://github.com/owasp-sbot/OSBot-Browser.git
boto3
docker
ipython
ipykernel
ipywidgets
python-dotenv

# for development
pytest
pytest-cov
coveralls